@charset "utf-8";

/* CSS Document */

.schedule img
{
    width: auto;
    height: 39px;
}


@font-face {

	font-family: 'helveticaneueheavy';

	src: url('fonts/18923_helveticaneuehv-webfont.eot');

	src: url('fonts/18923_helveticaneuehv-webfont.eot?#iefix') format('embedded-opentype'),

	url('fonts/18923_helveticaneuehv-webfont.woff') format('woff'),

	url('fonts/18923_helveticaneuehv-webfont.ttf') format('truetype'),

	url('fonts/18923_helveticaneuehv-webfont.svg#helveticaneueheavy') format('svg');

	font-weight: normal;

	font-style: normal;

}



body{

	font-family:Arial, Helvetica, sans-serif;

	background-image:url(images/background.jpg);

	background-repeat:repeat-x;

	background-color:#49781c;

	margin-top:0px;

	margin-bottom:0px;

	

	

}



h1,h2,h3{

	color:#2c33b9;

}



a img{

	border:0px;

}



.container{

	width:819px;

	background-color:#FFF;

	margin-left:auto;

	margin-right:auto;

	

	

	-webkit-box-shadow:  0px 0px 125px 25px #000000;

	

	box-shadow:  0px 0px 125px 25px #000000;

}



.header1{

	float:left;

	width:525px;

}



.header2{

	float:left;

	width:73px;

	background-color:#040f30;

}



.header3{

	float:left;

	width:73px;

	background-color:#040f30;

}



.header4{

	float:left;

	width:74px;

	background-color:#040f30;

}



.header5{

	float:left;

	width:74px;

	background-color:#040f30;

}





.nav{

	font-family: 'helveticaneueheavy';

	clear:both; !important

	height:50px;

	width:779;

	/*background-image:url(images/navbg.jpg);*/

	background-repeat:repeat-x;

	background-color:#040f30;

	text-align:center;

	color:#FFF;

	

	padding:10px;

	

	font-size:16px;

	

	

}



.nav a{

	/* padding-top:15px;
	
	padding-bottom:15px; */

	color:#FFF;	

}



.nav a:hover{

	color:#fff;

	text-decoration:underline;	

}



.mid{

	width:819px;

	clear:both;

}

.content{

	width:789px;

	min-height:600px;

	clear:both;

	

	background-color:#FFF;

	

	margin:15px;

}



.copyright{

	text-align:center;

}

/* BEGIN MENU STYLE */

.menu
{
    border:none;
    color:white;
    border:0px;
    margin:0px;
    padding:0px;
    font-size:16px;
    font-weight:bold;
    z-index:100;
}
.menu ul
{
    background-color:#040f30;
    height:35px;
    list-style:none;
    margin:0;
    padding:0;
}
.menu li
{
    float:left;
    padding:0px;
    
    padding-left: 10px;
    padding-right: 10px;
}
.menu li a
{
    background-color:#040f30;
    color:white;
    display:block;
    font-weight:normal;
    line-height:35px;
    margin:0px;
    text-align:center;
    text-decoration:none;
}
.menu li a:hover, .menu ul li:hover a 
{
    color: white;

    z-index:100;
}
.menu li a:hover
{
    text-decoration: underline;;
}
.menu li ul
{
    background:#040f30;
    display:none;
    height:auto;
    padding:0px;
    margin-left:-5px;
    border:0px;
    position:absolute;
    width:245px;
    z-index:200;
}
.menu li:hover ul
{
    display:block;
}
.menu li li
{
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:245px;
}
.menu li:hover li a
{
    background:none;
}
.menu li ul a
{
    display:block;
    height:35px;
    font-size:16px;
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}
.menu li ul a:hover, .menu li ul li:hover a
{
    background:#040f30;
    border:0px;
    text-decoration:underline;
    z-index: 101;
}
.menu p
{
    clear:left;
}

/* END MENU STYLE */